<h1 class="pull-right">Trips Summaries</h1>

<h2>Trip Summary</h2>
<br />
<table class="table table-bordered">
<tr>
	<th>Trip ID</th>
	<th>Type</th>
	<th>Total Distance(m)</th>
	<th>Start Time</th>
	<th>End Time</th>
</tr>
<% summary =  Trip.SummaryGet("1335002300","1335016801") %>
<% summary.each do |data| %>
<tr>
	<td><%= data["trip_id"] %></td>
	<td><%= data["type"] %></td>
	<td><%= data["total_m"] %></td>
	<td><%= data["start_timestamp"] %></td>
	<td><%= data["end_timestamp"] %></td>
</tr>

<% end %>
</table>

<br />
<h2>Trip Summary Detail</h2>
<br />

<table class="table table-bordered">
<tr>
	<th>ID</th>
	<th>Trip ID</th>
	<th>Latitude</th>
	<th>Longitude</th>
	<th>Time</th>
</tr>

<% sum_detail = Trip.SummaryDetailGet("1") %>
<% sum_detail.each do |data| %>
<tr>
	<td><%= data["id"] %></td>
	<td><%= data["trip_id"] %></td>
	<td><%= data["lat"] %></td>
	<td><%= data["lon"] %></td>
	<td><%= data["timestamp"] %></td>
</tr>
<% end %>
</table>

   <script type="text/javascript">

      var map;
      function initialize() {
        var mapDiv = document.getElementById('map-canvas');
        map = new google.maps.Map(mapDiv, {

          center: new google.maps.LatLng(0, 0),
          zoom: 16,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        });
      
<% sum_detail = Trip.SummaryDetailGet("1") %>

		var arrData = [];
		var counter =  0;

<% sum_detail.each do |data| %>

		arrData[counter] = [<%= data["lat"] %>, <%= data["lon"] %>];
		counter++;
<% end %>
		
		var path = [];
		var latLng;
		for (var i = 0; i <arrData.length; i++) {
          latLng = new google.maps.LatLng(arrData[i][0], arrData[i][1]);
          path.push(latLng);
          
      }
    
          var line = new google.maps.Polyline({
          path: path,
          strokeColor: '#ff0000',
          strokeOpacity: 1.0,
          strokeWeight: 2
        });

          line.setMap(map);
          map.setCenter(latLng);
     }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>  
 
            <div id="map-canvas" style="width: 500px; height: 400px"></div>
